.hero{
  background-image: https://github.com/Dina5781/charlieSaysHi/edit/main/styles.css#:~:text=thom%2Dmilkovic%2D-,vy_cVJCAVG0,-%2Dunsplash.jpg
  background-size: cover;
  background-position: center; 
  height: 400px;
  width: 100%;
  
}
